* {
  padding: 0;
  margin: 0;
  box-sizing: boder-box;
}
html,
body {
  height: 100%;
  width: 100%;
  color: white;
  background-color: rgb(57, 57, 57);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  

  section {
    width: 100%;
    display: flex;
    flex-direction: column;

    .top {
      padding: 1rem;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .bottom {
      margin: 10px;
      background-color: rgb(65, 65, 65);
      padding: 2rem;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 17rem;


      .text{
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

         h1 {
        font-size: 1.5rem;
        
      }
      h2 {
        font-size: 1.7rem;
      }

      p {
        font-weight: 400;
        font-size: 1rem;
        opacity: 0.8;
        line-height: 1.5rem;
      }
      button {
        padding: 0.75rem 2rem;
        border-radius: 5px;
        width: fit-content;
        font-size: 1.5rem;
        border: none;
         background-color: rgb(109, 76, 76);
        color: white;
      }
      }

     
    }
  }
}
@media(min-width:700px){
    
   section{
    flex-direction: row;
   }
}